* {
    margin: 0%;
    padding: 0%;
}

body>main {
    margin: 2%;
}

footer {
    margin: 2%;
}

.menu {
    font-size: 30px;
    margin-top: -4px;
    padding: 1%;
    border: solid 1px;
    background-color: rgb(18, 37, 71);
    color: rgb(38, 62, 105);
    text-decoration: none;
}

.menu>a {
    border: solid 1px;
    background-color: white;
    text-decoration: none;
}

#si {
    border: solid 1px;
    margin: 5px;
    padding: 15px;
    font-style: italic;
}